[2019-07-25 09:52] Olkyore opened #2 "Change formatting of date range presentation"
Hi,

I want use your library but i need to change the presentation of your result presentation like :
2019/07/22 ~ 2019/07/25 by Du 2019/07/22 au 2019/07/25

The only way i found was to modify your file Dates.js, function getRangeDatesFormatted (replace ~by "Du" and "au", and DatePickerHeader.vue, function dateFormatted to replace split "~" by "au" and apply a new split to remove "du".

I haven't

[2019-07-26 06:26] mathieustan commented on #2
Hello @Olkyore, I think it's a good idea. I'll implement this soon.

[2019-07-26 11:07] mathieustan commented on #2
Added a property to customize input.
[#0.1.8.rc.3](https://github.com/mathieustan/vue-datepicker/releases/tag/0.1.8.rc.3)

[2019-07-26 11:07] #2 closed

[2019-08-19 07:04] blackinitial opened #3 "add property name on input field"
i need to change name of input to make validation with vee-validate. but this datepicker nothing props name for input field.

please add property name on input field

[2019-08-25 09:15] mathieustan commented on #3
There is a property name on input. If you look at DatepickerCustomInput in src/components folder, you can see a prop name on input.

[2019-09-04 06:20] #3 closed

[2019-09-05 05:34] kfirba opened #4 "Amazing datepicker, just a few additions needed"
Hello @mathieustan!

You've done an excellent job building this datepicker. I'd love to suggest a few additional features which would make it even better!

## RTL Support - **DONE** (#5)
RTL support is actually almost "native" since you've built the datepicker using `flexbox`. There are only few adjustments needed to make it fully compatible. You can simply add `direction: rtl` to the HTML element

[2019-09-06 06:18] mathieustan commented on #4
Hello @kfirba,

Thanks for your feedback, It's always good to hear.
Yes, these features were indeed planned in the near future.

I'll look at your RTL fixes. Thx

[2019-09-06 14:48] EsilvGuillaume opened #7 "in-range selected on MobileMode is not triggered"
Hi @mathieustan

I have a problem with your lib, indeed when i used your Vue-datepicker with mobile mode (with chrome or mozilla) i can't see the range that i select. In desktop mode we have the in-range class, but apparently not in mobile mode. Maybe you can help me with this issue, or it's a missing thing with your development ?

Nice work man, keep it up

[2019-09-08 14:24] mathieustan commented on #7
Hello,

It’s working properly for me. Can you send more details ? Maybe a screenshot ?

[2019-09-10 13:38] mathieustan commented on #4
rtl is now in production. [v0.1.8-rc.7](https://github.com/mathieustan/vue-datepicker/releases/tag/0.1.8-rc.7)

[2019-09-11 07:22] kfirba commented on #4
@mathieustan Thanks!

Also, there is one thing we missed: the datepicker open animation.
Even in RTL mode, it seems like the transition origin for the datepicker (DatePickerAgenda) is `top left` which makes it look really weird on RTL websites.

I've tried to hunt down and see where it is defined and eventually found it in the `[getElementPosition](https://github.com/mathieustan/vue-datepicker/blo

[2019-09-11 09:33] kfirba opened #8 "Proposal: Consider renaming `endDate` to `maxDate`"
Hey again!

There are 2 props that designate a start and end possible dates for the datepicker, but their names aren't matching. I'm talking about the `minDate` and `endDate`. I personally think that if we go with `minDate`, there should be a corresponding `maxDate` instead of `endDate`. We can also argue about having a `startDate` instead of a `minDate`, but I think that `min` and `max` convey mo

[2019-09-11 11:43] kfirba opened #10 "Proposal: Get default text values from the locale"
Hey @mathieustan.

We've recently added RTL support to the datepicker and one thing that bothered me is that the default texts (`buttonValidate`, `buttonCancel`, `rangeHeaderText`) are in English and the only way to change them is via a prop. While this is completely fine, I would love to propose another system of setting them.

Currently, the datepicker supports few locales via a locale object. T

[2019-09-11 11:50] kfirba opened #11 "Proposal: Don't show date format in range header text if no date is selected"
Hey!

Currently, the header text is showing something like `From DD MM YYYY` and `To DD MM YYYY` as the placeholder when there is no date selected, which is kind of weird in my opinion. Users are usually not aware of date formats and it does not give them any real benefit.

I propose 2 solutions:

1. Don't show the placeholder at all. Just like you'd done in the "single date" mode, show a `-` befo

[2019-09-11 12:10] kfirba opened #12 "Bug: selecting dates in range mode bug"
There is a bug with `fullscreen-mobile` mode and the range datepicker where I can get the following state:

![image](https://user-images.githubusercontent.com/8510486/64695484-ef897980-d4a4-11e9-8a65-f7d6f6b13799.png)

As you can see, I've chosen a range but the range itself was not properly selected.

How to reproduce:

1. Open the datepicker in `range` mode and `fullscreen-mobile`**on mobile dev

[2019-09-11 13:28] kfirba opened #13 "Bug: Selecting Range date shows a console error"
Hey.

When selecting a date range (even on the demo site), I get the following error:

[code]

This stack error is referring to the `DatePickerAgenda.vue` when we attempt to calculate the `isRangeSelected` computed property:

[code]

This error does not affect the functionality as the datepicker still works, but it throws many errors in the console.

You can reproduce the issue on the demo website

[2019-09-12 06:38] mathieustan commented on #13
Hello.

I tried many time on demo site, and I can't see this error.
I'll take a look at code to see if there is anything weird

[2019-09-12 06:39] mathieustan commented on #12
I'll check this. Thanks

[2019-09-12 07:09] kfirba commented on #13
@mathieustan Try to play with the range datepicker. Open it, close it, select dates and confirm, select dates and cancel, rinse and repeat until you see the error. I can assure you it's there :/

[2019-09-12 07:11] mathieustan commented on #8
Yes I'm aware of this ... I failed when naming those props.
I think min & max are more appropriate.

[2019-09-16 07:53] EsilvGuillaume commented on #7
Hi @mathieustan,

My problem is still here, even with the update rc-7
When i open the datePicker with fullscreenMobile mode on mozilla or chrome mobile, i have this :
![datePickerMobileMode](https://user-images.githubusercontent.com/7085383/64941480-1d850a00-d867-11e9-92c9-e5cc2683a0d3.PNG)
So there are no problem with that, but if i change the date with 9 september on startDate and place my mouse

[2019-09-16 08:36] mathieustan commented on #7
Hello @EsilvGuillaume,

Ok, it's not a bug. When you are in a mobile view (even if it's desktop mobile view), it acts like in real mobile, and there is no hover (because you can't hover something with your fingers).

The class appears when you are hovering dates or when you selected a range.

[2019-09-16 08:36] #7 closed

[2019-09-16 09:37] #10 closed

[2019-09-16 09:37] mathieustan commented on #11
Done in V0.1.8

[2019-09-16 09:37] #11 closed

[2019-09-16 09:38] mathieustan commented on #8
Done in V0.1.8

[2019-09-16 09:38] #8 closed

[2019-09-16 09:38] mathieustan commented on #12
Done in V0.1.8

[2019-09-16 09:38] #12 closed

[2019-09-18 20:05] cristiancastrodc commented on #13
I've been able to reproduce the bug... After a lot trying. I sent you a record of how to reproduce it.

Also, I tried again repeating the steps and the error showed before, just when I finished the third selection.

[vue-datepicker - Mozilla Firefox 2019-09-18 14-54-48.zip](https://github.com/mathieustan/vue-datepicker/files/3628117/vue-datepicker.-.Mozilla.Firefox.2019-09-18.14-54-48.zip)

[2019-09-19 07:11] kfirba opened #14 "Bug: Passing `null` in range-mode causes errors"
It's me again,

Passing `null` as start/end values in range-mode (maybe even in single mode, haven't tested) causes errors.

[code]

![image](https://user-images.githubusercontent.com/8510486/65221306-70f49380-dac5-11e9-9dc8-33e1d723e873.png)

Surprisingly enough, changing the values to `undefined` solves the problem. I think this is a bug and `null` should be treated like `undefined`.

[code]

[2019-09-19 07:17] kfirba opened #15 "Bug: Error thrown in range-mode when picking one date and "cancelling" the selection"
Hey @mathieustan

There is a bug where I open the datepicker, pick a starting date and then cancel my selection by either pressing the `cancel` button or simply clicking outside. When doing so I get the following error:

![image](https://user-images.githubusercontent.com/8510486/65221848-80c0a780-dac6-11e9-9402-213e64dd292c.png)

[code]

It sometimes happens even without selecting a start date.

[2019-09-19 07:20] kfirba opened #16 "Bug: Clicking the validate button (Ok) in range-mode without picking both start and end date triggers an error"
@mathieustan it's me again.

A bug I found is when you open the datepicker in **range mode** with the validation buttons option turned on and click "Ok" without picking any date or not picking the end date, an error is triggered:

[code]

[2019-09-23 07:18] mathieustan commented on #14
Hello there,

Apparently, it seems like dayjs treat null as an invalid date.

There is two way to init date range :

[code]

or

[code]

[2019-09-23 07:36] mathieustan commented on #15
I think it's the same issue as #13

[2019-09-23 14:28] Janoski opened #17 "box-sizing:border-box"
Hi !

Your lib is cool. But you're adding a global CSS property :
*,::after,::before{box-sizing:border-box}

Is that possible to remove this or just apply this on the component only.

[2019-09-24 14:11] ntoniazzi opened #18 "Error handling french dates"
There seems to be a typo here:
https://github.com/mathieustan/vue-datepicker/blob/master/src/components/datepicker/DatePicker.vue#L174
outPutFormat is never defined (capital P)

If I set the locale to "fr" and the format to "DD/MM/YYYY", the calendar chokes on invalid english dates such as: "28/02/2019"

[2019-09-25 07:21] mathieustan commented on #17
Hello @Janoski,

There are two files where I applied borderbox:

https://github.com/mathieustan/vue-datepicker/blob/b22145fc9cc4cbae0284d28e2d0f47adcc120356/src/components/datepicker/DatePicker.vue#L247

https://github.com/mathieustan/vue-datepicker/blob/b22145fc9cc4cbae0284d28e2d0f47adcc120356/src/components/datepicker/DatePickerAgenda.vue#L531

both are applied to component and child only.

[2019-09-25 11:45] mathieustan commented on #18
Hello @ntoniazzi,

Are you using `formatOutput` prop ? I'll remove it to avoid this issue.

[2019-09-25 13:18] #17 closed

[2019-09-25 13:24] mathieustan commented on #18
`formatOutput` prop has been removed.
You should not have this issue anymore.

Let me know if it still happens.

[2019-09-25 13:24] #18 closed

[2019-09-25 13:26] mathieustan commented on #15
Should be fixed in latest release [0.1.9](https://github.com/mathieustan/vue-datepicker/releases/tag/0.1.9)

[2019-09-25 13:26] #15 closed

[2019-09-25 13:27] mathieustan commented on #13
Should be fixed in latest release [0.1.9](https://github.com/mathieustan/vue-datepicker/releases/tag/0.1.9)

[2019-09-25 13:27] #13 closed

[2019-09-25 13:27] mathieustan commented on #16
Should be fixed in latest release [0.1.9](https://github.com/mathieustan/vue-datepicker/releases/tag/0.1.9)

[2019-09-25 13:27] #16 closed

[2019-09-29 08:54] bissolli opened #19 "DatePicker in range mode shows a console error"
Hey guys,

Just found an error very similar to the #13, which I could also reproduce on the demo site:

[code]

The error does not affect the functionality as the datepicker still works, but it throws few errors in the console.

To reproduce on the demo site, just keep changing the selection and it will suddenly appears.

![image](https://user-images.githubusercontent.com/1808444/65829604-2c80a900

[2019-10-02 09:04] kfirba commented on #14
@mathieustan Alright. What if we turn `null` to `undefined` in the component itself instead of passing the raw value to dayjs? Are there any downsides to transforming `null` to `undefined` just before we pass the values to dayjs or when we accept the prop?

[2019-10-06 07:51] kfirba commented on #4
@mathieustan Hey mat!

I was wondering if there is some roadmap for the project? Would love to see the features mentioned in this issue get developed. Would make this datepicker the best one I've ever used :)

[2019-10-10 10:00] mathieustan commented on #4
Hello @kfirba,

I have a lot of work those days. I’ll try to implement those features when I’ll have some times. I’ll do my best.

[2019-10-14 06:31] DmitriyBesedin commented on #19
Hello. This does not just write an error to the console, this error completely breaks the  NUXT page.

[2019-10-14 07:48] DmitriyBesedin opened #20 "Add ru localization"
Hello. I want to use your component, but I do not have enough Russian localization. Could you add it?

`
const localeObject = {
  name: 'ru',
  weekdays: 'Воскресенье_Понедельник_Вторник_Среда_Четверг_Пятница_Суббота'.split('_'),
  weekdaysShort: 'Вс_Пн_Вт_Ср_Чт_Пт_Сб'.split('_'),
  weekdaysMin: 'Вс_Пн_Вт_Ср_Чт_Пт_Сб'.split('_'),
  months: 'Январь_Февраль_March_Апрель_Май_Июнь_Июль_Август_Сентябрь

[2019-10-16 07:51] guillaumebriday opened #21 "Proposal: Adding time support"
Hey!

This package looks awesome 😍 It's so difficult to find a good looking datepicker with a good API. Thank you for your work! 👏

I might be wrong be I did not find any time support to select hours, minutes and seconds, do you consider to add it?

If not I could take time to start a PR and help a bit.

Thank you in advance

[2019-10-16 07:55] guillaumebriday opened #22 "Adding Github link in the documentation"
The documentation is 👌.

But it's could be great to add a link to this repo.

Thank you

[2019-10-21 06:44] mathieustan commented on #22
Good idea 👍

[2019-10-21 06:49] mathieustan commented on #21
Hello @guillaumebriday.

Currently, there is no time support. From my point of view, I do not find that there is a good way to display time's choice in a datepicker. It's even more confusing.

But you can still add a select or an input somewhere.

[2019-10-21 06:50] mathieustan commented on #19
Ok. I'll fix that

[2019-10-21 07:58] #20 closed

[2019-10-21 21:50] guillaumebriday commented on #21
Thank @mathieustan for your quick answer.

I think it's pretty important to have the option to select the time. If it's not in the same component it's hard to format the datetime and send it back to an API.

At this time I'm using this package https://chronotruck.github.io/vue-ctk-date-time-picker/. But i'm not convinced yet with the implementation of the style and theming.

The use cases for a da

[2019-11-08 10:26] mathieustan commented on #22
Closed. Done in [v0.2.0](https://github.com/mathieustan/vue-datepicker/releases/tag/0.2.0)

[2019-11-08 10:26] #22 closed

[2019-11-08 10:26] mathieustan commented on #19
Closed. Done in [v0.2.0](https://github.com/mathieustan/vue-datepicker/releases/tag/0.2.0)

[2019-11-08 10:26] #19 closed

[2019-11-08 10:26] mathieustan commented on #14
Closed. Done in [v0.2.0](https://github.com/mathieustan/vue-datepicker/releases/tag/0.2.0)

[2019-11-08 10:26] #14 closed

[2019-11-08 10:53] guillaumebriday commented on #22
Nice 🎉

[2019-11-08 11:26] mathieustan commented on #21
I'll think about it for next version :)

[2019-11-10 11:28] bissolli opened #30 "Was the import VueDatePicker locally removed on v0.2.0?"
Tried updating to `v0.2.0` and looks like the option to import VueDatePicker locally in the component was removed.

Was that on purpose?

**Error**

**Code example**
[code]

[2019-11-10 16:49] guillaumebriday commented on #21
That would be so nice

[2019-11-11 13:53] kfirba commented on #30
I can confirm the bug exists. I also can't import the component locally anymore.

[2019-11-12 07:28] mathieustan commented on #30
Hello,

No it wasn't on purpose 😞. My bad. I'll change that

[2019-11-12 08:43] kfirba commented on #30
@mathieustan Thanks!

Is this a patch release that will be released soon?

[2019-11-12 08:57] #30 closed

[2019-11-12 08:58] mathieustan commented on #30
@kfirba && @bissolli Should be fixed on latest release.

[2019-11-20 11:51] fabeat opened #31 "SSR issue"
After upgrading to the newest version of the DatePicker, i get the following error while building the application:
` ReferenceError: window is not defined` in `/get-size/get-size.js:23:1`

The problem seems to be, that `get-size` requires `window` as soon as it is imported.

This means that wrapping the datepicker in `<ClientOnly>` does not solve this issue.

[2019-11-20 14:37] fabeat commented on #31
I found a workaround (importing the component in the `mounted` lifecycle hook):

In your component:
[code]

In your template:
[code]

[2019-11-20 17:47] mathieustan commented on #31
Hello @fabeat,

indeed, it is not normal to have to import it in mounted hook. I'm going to look at this to make it ssr compatible.

[2019-11-28 16:23] Mushr0000m opened #32 "Proposal : Adding slot or date callback and disable CSS"
Hi, your component looks very good 👍  and I would like to use but I need to add some code on dates, like a dot or a count of events on this date. I think a slot scope for dates creation or a callback that return the html for the date would be very nice.

Also could you consider to have an option to disable style so we can use our without having to overide a lot of rules.

Thanks

[2019-12-19 13:52] carestad opened #33 "Proposal: reset button or slot for buttons"
Love the component! I am currently just implementing my own reset button outside of the component itself, but I would love it if there was a way to reset the currently selected date or date range within the date picker itself.

Either enable this with a prop, or maybe allow to append or control the action buttons (`OK`/`Cancel` when `:validate` is `true`) via slots.

[2019-12-19 15:37] carestad opened #34 "Manually setting locale does not work"
Trying to feed the `:locale` prop with a custom object, but this does not seem to have any effect on the component at all.

Example:

[code]

Where `datePickerLocale` is set in `data()` like so:

[code]

[2019-12-27 08:15] mathieustan commented on #34
Hello @carestad. I made a mistake in my doc.

To use a custom lang, you need to pass an object with lang property.
Example :

[code]

[code]

[2019-12-27 08:39] mathieustan commented on #32
Hello @Mushr0000m.

You could use a custom activator with a filter on date.

[code]

I'll check to add more configuration on style

[2019-12-27 14:40] #34 closed

[2019-12-27 14:48] mathieustan commented on #31
@fabeat It should work now. Let me know.

[2019-12-27 14:48] #31 closed

[2020-01-23 05:39] mkhanal opened #35 "Datepicker model should be retain the date type"
Right now the v-model can take a string or a date type.

Consider the following scenario
[code]
and
[code]

When `aDate` gets updated by the datepicker, it is converted to a String type instead of date. The component should retain its type.

[2020-01-23 21:29] simpleauthority opened #36 "License"
Hello, what license does this project use? Can it be used in a commercial project?

[2020-01-26 06:25] kfirba commented on #4
@mathieustan Hey mat!

We've been using the datepicker for a while now and it is just awesome!

Is there any ETA for the features mentioned in this issue? Is there any way I can help with this?

[2020-01-27 10:11] rdyakbarov opened #37 "Custom activator"
I want to use this component from parent (with my custom input), when added any slots from template activator i get this error:

Avoid mutating a prop directly since the value will be overwritten whenever the parent component re-renders. Instead, use a data or computed property based on the prop's value. Prop being mutated: "date"

[2020-01-27 10:59] #37 closed

[2020-01-29 08:35] mathieustan commented on #36
Ofc. There is no problem to use it.

[2020-01-29 08:37] mathieustan commented on #4
Hello @kfirba,

I ll add swipe left/right for month today ;)
I’ll try to work on a roadmap to improve this component 👌

[2020-01-29 09:21] mathieustan commented on #4
@kfirba Can you try new version, and let me know if swipe is correct in RTL mode :)

[v0.2.3-rc.1](https://github.com/mathieustan/vue-datepicker/releases/tag/0.2.3-rc.1)

[2020-01-29 09:25] mathieustan commented on #36
Just added license file. @simpleauthority

[2020-01-29 09:25] #36 closed

[2020-01-30 03:30] simpleauthority commented on #36
Thanks mate.

[2020-02-12 00:03] AAllport opened #38 "Allow unsetting the input text-colour"
Lemmie start off by saying, I'm so glad I've discovered this package, great job!

However, have you got any guidance for putting different styling in for the text and the header.
For context, the blue looks great for the header of the dropdown, but, once the user has selected the date, the input box contains blue text, as opposed to the page's default.

Is there currently an easy way to have the d

[2020-02-24 10:35] mathieustan commented on #38
Hello @AAllport,

You're totally right. I really don't remenber why I put this blue color when date has been setted.
I'm not in favor to add a new props to update this color.

I think, i'll create a them props which allow to define custom style when we init the datepicker.

[2020-03-05 05:45] wasimgouri7 opened #39 "Is it possible to provide week selection option"
Can it have a feature which allow user to directly select a week like below library provide when click on week tab
https://damienroche.github.io/vue-mj-daterangepicker/?selectedKind=DateRangePicker&selectedStory=Default&full=0&addons=1&stories=1&panelRight=0

[2020-04-07 07:31] nsakiya-incomm opened #41 "More presets"
Thanks for making this awesome components. This is the best date range picker I came across. I could customized pretty much everything to what I need.  However, is there anyway we can increase the number of available presets from 6? My application needs to have 10 date range presets, And, is there a way to I detect whether a preset was selected or custom date range was manually selected?
Thank you

[2020-04-10 02:49] ecarrera opened #42 "Year type inclusion"
Can you add a type for only year selection? Or can you tell me some suggestion to implement it?

[2020-04-15 06:49] mathieustan commented on #42
Hello @ecarrera,

Are you looking for [this](https://vue-datepicker.netlify.com/#year) ?

[2020-04-15 07:11] mathieustan commented on #41
Hello @nsakiya-incomm,

Thank you for the comment 👍

I'll try to implement something to allow more than 6 presets.

[2020-04-15 10:01] mathieustan commented on #33
Clearable prop which allows to clean input in [lastest version](https://github.com/mathieustan/vue-datepicker/releases/tag/0.2.3-rc.2)

[2020-04-15 10:01] #33 closed

[2020-04-15 10:02] mathieustan commented on #38
@AAllport should be done.

=> [Release](https://github.com/mathieustan/vue-datepicker/releases/tag/0.2.3-rc.2)

[2020-04-15 10:02] #38 closed

[2020-04-15 10:05] mathieustan commented on #39
Hello @wasimgouri7,

Hmm why do you need this. Is the range not sufficient?
Explain to me your real need, and I'll try to make something =)

[2020-04-15 10:09] mathieustan commented on #35
Hello @mkhanal,

I prefer to return a string because it is easier to format it afterwards.
Easier to use with `new Date`, `time`, `datejs` or simply as a string.

What do you think ?

[2020-04-15 12:56] AAllport commented on #38
Nice one!

[2020-04-15 15:53] ecarrera commented on #42
Thanks @mathieustan, I missed it.

[2020-04-15 15:53] #42 closed

[2020-05-08 09:18] kelanik8 opened #44 "Is it possible to disable some days in a week"

[2020-05-22 17:07] Kunoacc opened #45 "Bundle Size"
When building from vue ui, the size of the bundle is actually large at 140KB. It's the largest dependency in my project. Is there any way to shrink this?

![image](https://user-images.githubusercontent.com/16244990/82692154-1795c300-9c57-11ea-9a68-68ead72430cb.png)

[2020-05-25 08:28] mathieustan commented on #45
Thanks @Kunoacc.

I'll look at it, and try to improve this asap

[2020-05-25 17:18] mathieustan commented on #45
It seems like css in vue components take alot of space. I’ll extract style in a css minified file.

[2020-05-25 17:20] mathieustan commented on #44
Hello @kelanik8,

A new prop allowedDates will be available in next release.

[2020-05-25 18:14] Kunoacc commented on #45
Awesome!

Thanks @mathieustan

Any way to be able to pick what date library to use?

i see you're using dayjs and in our project we use moment. It'll be an extra unnecessary dependency that we wouldn't end up using. Probably a way to specify a default?

[2020-05-25 19:05] mathieustan commented on #45
I will delete dayjs one day to use only javascript dates. But for the moment, in fact, you will have 2 libs to manage the date.

Maybe you should use dayjs instead of time which is much heavier :)

By the way dayjs is really thin.

[2020-05-25 19:09] kelanik8 commented on #44
Hello @mathieustan
Thanks for this package. The User experience is really Awesome.

I am not sure! also, is it possible to disable past days and disable the days like this format
['mon', 'tue', 'sun']

[2020-05-26 10:51] mathieustan commented on #44
Yes you can. I added an example in page for new prop : allowedDates

Done in [v0.2.3](https://github.com/mathieustan/vue-datepicker/releases/tag/0.2.3)

[2020-05-26 10:51] #44 closed

[2020-05-26 10:52] mathieustan commented on #45
## Previous release v0.2.3-rc.2 :
![Capture d’écran 2020-05-26 à 12 49 04](https://user-images.githubusercontent.com/38033090/82892370-9fc5e200-9f4f-11ea-8623-ed4c0972090d.png)

## [Latest release v0.2.3](https://github.com/mathieustan/vue-datepicker/releases/tag/0.2.3)
![Capture d’écran 2020-05-26 à 12 49 22](https://user-images.githubusercontent.com/38033090/82892374-a05e7880-9f4f-11ea-9404-

[2020-05-26 10:52] #45 closed

[2020-05-28 15:01] Kunoacc opened #46 "After updating i get "TypeError: Cannot read property 'symbol' of undefined""
After the last publish update, when i updated and reran the project, i got this "TypeError: Cannot read property 'symbol' of undefined".

Are they any breaking changes?

[2020-05-29 03:50] ecarrera opened #47 "Invalid Year"
Hi @mathieustan, I'm currently in Chile (GMT-3) and I think that the GMT difference is giving me a bad format conversion for the year.

I took, by example a year and the shown year is 1 less than the chosen.

This is the implementation:

[code]

If I don't use a template the year is fine, but, once the calendar is opened again the selected year on the calendar is 1 year less than the real selectio

[2020-05-29 07:07] mathieustan commented on #46
Weird. There is no error on demo page.
Did you try to remove and install package again ?
Do you have more info to help me ?

[2020-06-02 07:14] mathieustan commented on #46
@Kunoacc Do you still have this issue ? Can you send me a reproduction link ?

[2020-06-02 12:43] DanielAlcaraz opened #48 "After install v0.2.3 the dist folder does not have the CSS."
Can't find:
`import '@mathieustan/vue-datepicker/dist/vue-datepicker.min.css';`

In the `dist` folder there is only the vue-datepicker.esm.js, vue-datepicker.min.js and vue-datepicker.umd.js

[2020-06-02 22:12] KristenLeach commented on #48
Having this trouble as well, I believe. Calendar is showing up as image shows; above the uppermost header of our webpage. Tried importing CSS stylesheet separately in vue-config, but that is not working. Any help would be appreciated.

![Screen Shot 2020-06-02 at 3 10 50 PM](https://user-images.githubusercontent.com/31492991/83574956-5e9b7800-a4e3-11ea-99ef-e5f88117a7b8.png)

[2020-06-03 07:33] DanielAlcaraz commented on #48
Same result.

[2020-06-04 07:02] mednikoviurii commented on #48
same result

[2020-06-04 22:10] mathieustan commented on #48
@DanielAlcaraz oh ... crap. It ll be fixed tomorow morning

[2020-06-05 06:44] mathieustan commented on #48
Should be done. Sorry again ... 🤦

Release [v0.2.4](https://github.com/mathieustan/vue-datepicker/releases/tag/0.2.4)

[2020-06-05 06:44] #48 closed

[2020-06-05 06:46] mathieustan commented on #47
Hello @ecarrera.

I tried different things, and it seems to work for me. Can you give me a reproduction link ?

[2020-06-05 18:44] ecarrera commented on #47
![ezgif-4-4f06c7db4f5b](https://user-images.githubusercontent.com/2139735/83911791-e3cc9a00-a73a-11ea-8e17-f7fc7629581d.gif)

https://codesandbox.io/s/peaceful-nobel-cssqq

[2020-06-09 14:23] mathieustan commented on #47
Fixed in [v0.2.5](https://github.com/mathieustan/vue-datepicker/releases/tag/0.2.5)

[2020-06-09 14:23] #47 closed

[2020-06-10 08:21] bissolli opened #52 "ERROR: Out of stack space"
Since we updated from `0.2.1` to the latest version we've been experiencing on Edge and IE so far.

Any idea on what could cause it? As I work on MacOS I honestly couldn't reproduce, but I've got quite a few warnings on Sentry regarding that, so I might be affecting more people.

Stack-trace:
[code]

Thanks

[2020-06-10 09:35] mathieustan commented on #52
I’ll check that. Thx.

[2020-06-13 13:58] bissolli commented on #52
Thanks @mathieustan .

I have a new insight for you on that:
[code]

[2020-07-07 02:28] GMArjun opened #53 "Uncaught ReferenceError: BodyScrollLock is not defined"
I Added [https://github.com/mathieustan/vue-datepicker/blob/master/dist/vue-datepicker.min.js](url) to my html file below the  vue script. In console it shows this error (Uncaught ReferenceError: BodyScrollLock is not defined).

[2020-07-08 08:35] mathieustan commented on #52
Hello @bissolli.

Is the doc working for you on IE11|Edge ? I don't have any error.
Only grid are broken, i'm looking toi fix that.

[2020-07-16 09:31] rockey2020 opened #54 "lang:"zh-cn" no work"
[Vue warn]: Error in render: "RangeError: Maximum call stack size exceeded"

[2020-07-16 09:31] rockey2020 commented on #54
lang: 'zh-cn',
    weekDays: '日_一_二_三_四_五_六'.split('_'),
    weekDaysShort: '周日_周一_周二_周三_周四_周五_周六'.split('_'),
    weekDaysMin: '日_一_二_三_四_五_六'.split('_'),
    months: '一月_二月_三月_四月_五月_六月_七月_八月_九月_十月_十一月_十二月'.split('_'),
    monthsShort: '1月_2月_3月_4月_5月_6月_7月_8月_9月_10月_11月_12月'.split('_'),
    formats: {
      LT: 'HH:mm',
      LTS: 'HH:mm:ss',
      L: 'YYYY/MM/DD',
      LL: 'YYYY年M月D日',
      L

[2020-07-16 09:32] rockey2020 commented on #54
locale: {
          ...lang_zh_cn
        },

[2020-07-16 09:32] rockey2020 commented on #54
<VueDatePicker color="#f63f3f" v-if="copy_isShow" v-model="copy_date" :inline="true"
                     :locale="locale"
                     :no-header="true" :no-input="false" button-cancel="取消" button-validate="确定" clearable validate>

      </VueDatePicker>

[2020-07-16 09:34] rockey2020 commented on #54
![image](https://user-images.githubusercontent.com/64777114/87655182-7d4f8880-c78a-11ea-9cfa-ed181cd71597.png)

If I change the value of lang "en", it will work. But the month cannot be modified

[2020-07-28 13:23] Uninen opened #57 "Vue 3 support"
Now that Vue 3 is already at RC stage it would be nice to have support for vue-datepicker as well! 👍

[2020-08-13 20:59] mikeerickson opened #61 "Support enterable date (or icon only)"
I am trying to create an interface whereby users can enter the desired, or if they would like to use datepicker, then they can click a support icon.

I am reviewing props and I don't see ability to use icon ONLY or allow for data entry. I can create a separate `<input v-model="selectedDate">` object to support the entry, but i don't see support for icon only.

[2020-08-20 08:23] mathieustan commented on #61
Actually, you can use custom activator.
At the documentation's end, you can find an example : # Custom activator

[2020-08-20 08:23] mathieustan commented on #57
Sure :) It's a good idea ^^

[2020-08-20 13:33] mikeerickson commented on #61
@mathieustan yes, I did manage to find that example and have implemented a solution that works great for my desired use case.

[2020-08-20 13:33] #61 closed

[2020-08-26 13:09] mathieustan commented on #54
There are error in props wordings :

`weekDays` => should be `weekdays`
`weekDaysShort`=> should be `weekdaysShort`
...

Clean example for it :
[code]

[2020-08-31 15:13] gigerIT commented on #4
+1 on the Two (2) Months in View feature
It would be pretty neat.

[2020-09-01 09:37] Shakarhaba opened #62 "Allow static class vd-menu to be dynamic"
Allow to edit vd-menu__{whatever} to be {somethingelse}__{whatever}
or allow to attach another class to every component please

[2020-09-04 09:51] mathieustan commented on #62
Hi @Shakarhaba.

Added a new prop : `content-class`.
It applies a custom class to datepicker content. You may try this, and let me know if it's ok.

It would add too much code & variables & listeners if we allow to change classes like you said.
Maybe we can think about some props to handle style (e.g border-radius, ...).

[2020-09-04 09:51] mathieustan commented on #54
Close for now. Let me know if there is still a problem.

[2020-09-04 09:51] #54 closed

[2020-09-04 09:52] mathieustan commented on #52
Close for now. Let me know if there is still a problem

[2020-09-04 09:52] #52 closed

[2020-09-04 09:54] mathieustan commented on #53
Hmm. I think dependencies aren't downloaded when you only add script.
You should use classic way, with `npm install` or `yarn add` to install it properly.

[2020-09-04 09:54] #53 closed

[2020-09-04 09:55] mathieustan commented on #35
Close for now. :)

[2020-09-04 09:55] #35 closed

[2020-09-04 09:56] mathieustan commented on #4
@gigerIT yep.
I have a lot of work those days, so it's hard for me to add new features like this.
I'll have more time later in year, and I'll implement this.

[2020-09-04 10:00] mathieustan commented on #32
Since v0.2.5, you can use a Custom day slot.

Check an example [here](https://vue-datepicker.netlify.app/). => # Custom day slot

[2020-09-04 10:00] #32 closed

[2020-09-28 16:09] raminjafary opened #66 "[Enhancement] RTL style"
There is a few style issues regarding positioning of elements in RTL mode. If you are willing to accept any collaboration let me know.

[2020-10-08 07:37] mathieustan commented on #66
@raminjafary Hello :)

If you want to create a PR, there is no problem about that.
I need to add a contributing guide :)

[2020-10-08 09:03] raminjafary commented on #66
@mathieustan Nice :) I'll work on this issue:)

[2020-11-02 14:20] Webinsane opened #68 "Datepicker order year, month, day"
Hello. First to say great datepicker. You have done a wonderful job. We need to use this datepicker for date of birth input. So, when user initiates datepicker we need to open years selection, when year is chosen user picks the month and on third step they choose the day. Let me know if this is possible. Thanks!

[2020-11-06 07:20] mathieustan commented on #68
hello @Webinsane. Thank you :)

I think it's possible. I'm working on datepicker to make it cleaner. I may add this feature.

[2020-11-06 07:21] mathieustan commented on #66
Hi @raminjafary. Sorry for the delay.

I'm working on datepicker those days. I'll add your PR.

[2020-11-06 08:22] gigerIT opened #69 "Autoscroll to minDate"
If a datepicker has a minDate set open the calendar on the month where the minDate is.
At the moment if a minDate is in the future the user has to click trough months until he reaches the month were the minDate is to pick a date.

[2020-11-06 15:36] raminjafary commented on #66
I'll keep contributing to it if you please.
Thanks.

[2020-11-09 07:05] taicen opened #70 "Feature: add flexible setting of the range of years to the properties"
for example, I don't need to go that far ahead when adding years, on the contrary, I need to be able to go many years back and stay on the current year, it would be cool to have a feature like visibleYearsNumberBefore and visibleYearsNumberAfter

[2020-11-10 13:57] mathieustan commented on #70
Hi @taicen

I'm refactoring datepicker, years, months, ... A new version will come soon

When you'll set :
- a min date for example : 2018-01-01, years will start from 2018.
- a max date for example : today, years will end to 2020

[2020-11-10 14:01] mathieustan commented on #68
@Webinsane It will be possible soon :)

[2020-11-10 14:02] #66 closed

[2020-11-12 17:11] #68 closed

[2020-11-12 17:11] #70 closed

[2020-11-13 12:33] jmbtolentino commented on #21
By any chance, is the requested feature available in the current version?

[2020-11-14 22:34] cdvrooman opened #72 "Calendar icon"
Hello,
  I really like your datepicker! I was wondering if there is any way to specify a different calendar icon? That would allow for better integration with a framework like Vuetify or to use the Bootstrap Vue icons, for example.

  Keep up the great work!

  Sincerely,
    Christopher

[2020-11-16 08:51] mathieustan commented on #72
You can use a custom icon slot in v0.2.11.

Exemple:

[code]

[2020-11-16 08:51] #72 closed

[2020-11-16 14:48] iKlsR commented on #44
This is broken since 0.2.9 or so, the date is a string and not a date object.

[2020-11-16 17:57] mathieustan commented on #44
@iKlsR yeah it changes. Date is a string. Check out example in doc.

[2020-11-26 19:36] fingunt opened #74 "Error on dev"
am i try this error what could it be?
![Captura de Tela 2020-11-26 às 16 32 48](https://user-images.githubusercontent.com/33792792/100386937-82a8c380-3005-11eb-85f0-e3a8714a9e78.png)

[2020-11-26 19:38] fingunt commented on #74
VueDatePicker(
                      v-model="schedule.start_date",
                      inline,
                      color="#7159c1",
                      locale="locale",
                      @input="selectTimesCommomArea"
                    )
my component

[2020-11-27 07:36] mathieustan commented on #74
locale should not be a string.

Here an example from README :
[code]

[2020-11-27 13:05] fingunt commented on #74
Yes, sorry thanks man

[2020-11-27 13:50] #74 closed

[2020-12-12 01:45] kangchaingang opened #77 "Is there a way to pre-select the date or date range?"
Is there a way to pre-select the date or date range? For example, when the user first lands on the page I'd like the date range to already be selected to the current week.

Possible?

[2020-12-12 20:46] #77 closed

[2020-12-18 21:24] mrdigitalau opened #78 "Restrict range to specific number of days"
Hi there,

Thanks for your hard work - this is by far the nicest looking and easy to use datepicker I have found.

Just a quick one, would there be a way to restrict a range to a block?

Eg, people can only choose dates in 3 day blocks?

Thanks!

[2021-01-06 09:22] mathieustan commented on #78
Hello @mrdigitalau. Thanks :)

You'll like to set a number of days for range selection ? eg. client can only select X days ?
Maybe you can disable days when first day has been selected  ?

[2021-01-27 09:54] cedriccouret commented on #69
Hi, did you end up finding a solution? I'm facing the same issue here. Thanks.

[2021-02-09 08:23] yogikatba opened #79 "Is it possible to customise the header content and style of the date picker?"

[2021-02-11 10:15] knash94 opened #80 "Allow customisation of placeholders within the picker header"
Hey @mathieustan, firstly great work on this plugin. It's nice to have a single date picker that supports the selection of months, quarters & years.

I'm having a slight issue with customizing the placeholders that are displayed on the date picker window when no value is selected. These are currently defaulting to `-` & `--`. Would it be possible to add a prop that could override the default place

[2021-02-18 02:11] marcuslindemannrohden commented on #21
Hey @mathieustan, I would also highly appreciate the option for time input.

[2021-02-24 07:50] nuriakman opened #81 "InternalError: too much recursion error on webpage"
Hi,

I visit https://vue-datepicker.netlify.app/ to how it works. But there was no datepicket on screen.

I checked to console and I see this error:

InternalError: too much recursion
    isValidLocale vue-datepicker.esm.js:5
    getLocale vue-datepicker.esm.js:5 ------> This line repeats more than 1000 time

[2021-03-08 08:01] Aviking88 commented on #81
Faced the same and found the cause, It was happening due to locale.

[2021-03-08 17:14] maniyadv opened #83 "RangeError: Maximum call stack size exceeded"
This seems related to this closed issue - https://github.com/mathieustan/vue-datepicker/issues/54
Scenario - When user's browser language set to any other language than English, date picker is unable to initialise.
Workaround - Set locale explicitly to english using - `:locale="{lang: 'en'}"` prop.

[code]

[2021-03-11 10:16] andreasseiler commented on #68
Hi @mathieustan,

thanks from my side too! This is the best DatePicker for vue I know of!!

Just a quick question about the added feature for starting with the year input. I have the same requirement than @Webinsane. I want the user to start with the Year input and continue with Month and Day. But I can't seem to find an option to make the Picker start with the year. Is it possible?

Thanks and Re

[2021-03-14 09:09] colesnic89 commented on #83
For Russian language all is ok. But for Romanian I have the same error

[2021-03-14 11:37] mathieustan commented on #68
There is an example in demo page with birthday picker. You can see code.

[2021-03-14 13:11] andreasseiler commented on #68
Oh damn ... now I fell quite stupid ... sorry for this unnecessary question.

Thanks,
Andi

[2021-03-15 15:08] yemanjo opened #84 "Issue with not supported browser locale"
If I set my browser language to some unsupported datepicker language e.g. Italian it will throw an error:
 `RangeError: Maximum call stack size exceeded
You can reproduce this bug even on demo page: https://vue-datepicker.netlify.app/, just set you browser language to some unsupported one. Here is screenshot of the error:
![image](https://user-images.githubusercontent.com/33206985/111174890-210668

[2021-03-15 15:13] yemanjo commented on #81
Did you find proper workaround?

[2021-03-16 09:30] VirajSingh19 commented on #83
could be related to [ unsupported browser language](https://github.com/mathieustan/vue-datepicker/issues/84)

[2021-03-18 10:33] Aviking88 commented on #81
yes @yemanjo , I have specified lang at the time of registration,

`Vue.use(VueDatePicker, {
  lang: 'en'
});`

[2021-03-22 17:16] riddley opened #85 "When max-date is set, 2020 is disabled in the year picker."
`VueDatePicker.sitar(v-model="dateRange",range=true,v-bind:max-date="tomorrow",output-format='YYYY-MM-DD',inline=true)`

`
    tomorrow(){
      const date = new Date()
      date.setDate(date.getDate() +1)
      return date.toISOString().split('T')[0]
    },
`

I'm using 0.2.11.

[2021-03-23 14:14] shadysherifsayed commented on #39
@mathieustan I think it would be nice if this feature added

[2021-04-05 12:24] lshaf opened #86 "Saved value is different with custom format"
Yesterday was okay, after I selected date.
On my variable it saved as how my format was designated.

However today, it's different.
Instead it saved how I was format selected date.
It saved as RAW `new Date`

[2021-04-05 12:29] lshaf commented on #86
Is there any way to custom value before it saved?

[2021-04-07 12:29] VirajSingh19 commented on #84
In my case the workaround works if I regiser the component globally and pass { lang: 'en' } options

[code]

[2021-04-07 17:09] yemanjo commented on #84
Nice workaround but it's not a option for me to import it globally.

[2021-04-17 13:54] #86 closed

[2021-04-28 12:48] altoP opened #87 "vue-datepicker in b-modal"
I need to have vue-datepicker inside b-modal
There are two problems:
1. The vue-datepicker is under the  and not on top of it b-modal (z-index ?)
2. any press to select date close the b-modal and not the datepicker

Any ideas?
Thanks

[2021-05-03 16:44] marispro commented on #84
@yemanjo Hello, did you find any solution for this?

[2021-05-03 17:22] marispro commented on #84
Solved this issue by downgrade to "0.2.4"

[2021-05-07 01:27] MarioAda opened #88 "body max-width breaks the datepicker"
Hey there,

If "body" has a max-width, the date picker's "left" attribute is incorrect:

![image](https://user-images.githubusercontent.com/34167299/117384857-8f9edc80-aeec-11eb-9306-d607f46d86ca.png)

[2021-06-03 11:42] ItsJoeTurner commented on #84
Does anyone have a real solution for this? I would not like to downgrade as I like the newer full-width layout on mobile devices.

[2021-06-03 11:45] ItsJoeTurner commented on #83
Has anyone found a real solution for this? The numbers do not show for some of my users outside the UK even with lang: 'en' selected.

[2021-06-03 15:17] maniyadv commented on #83
If you are not already doing it make sure you use v-bind on the prop by using -  `:locale="{lang: 'en'}"` or `v-bind:locale="{lang: 'en'}"`
So that it receives object instead of string. That way it worked fine for me.

[2021-06-21 07:12] mathieustan commented on #4
I'll close this issue for the moment.
More fixtures will come soon

[2021-06-21 07:12] #4 closed

[2021-06-21 07:12] mathieustan commented on #46
I close this issue. If you still have an issue, let me know.

[2021-06-21 07:12] #46 closed

[2021-06-21 07:14] mathieustan commented on #79
There will be some css variables soon to allow customization.

[2021-06-21 07:14] #79 closed

[2021-06-25 16:19] nahojj commented on #57
Any progress with the support for Vue 3? I'm about to update my project from Vue 2 to Vue 3, is it in order yet or should I uninstall this package?

[2021-07-02 00:30] tzimme opened #91 "Highlight specific days"
Is it possible to mark certain days (eg. for holidays), but not disable them.

[2021-07-08 15:25] iKlsR commented on #85
This came in as a bug report in my app the other day as well. Thanks for narrowing it down to the max-date prop @riddley.

[2021-07-16 23:18] hanspr opened #92 "Binding v-model to a property"
I'm new to Vue so, maybe this is a known limitation of the Vue framework.

If I use vue-datepicker inside a page and bind v-model to a data property, everything works as expected.

[code]

But if I place VueDatePicker inside another component and then bind v-model to the property:

[code]

- values are internally updated correctly
- but the calendar ui does not update the changes
- date is not upd

[2021-07-19 13:53] Stelikas opened #93 "Add disabled dates"
First of all thank you for creating this component, it works perfectly and it's beautiful.

I would like to ask for a feature to add disabled dates, for example i want users to select a date range for their booking appointment but i don't want to be possible to choose two same dates, so when a user clicks a date the date selected should be disabled to click again.

So it will work like this:

1. U

[2021-07-21 19:54] Pefeli commented on #85
Hi, any solution for this? when set max date, the past year is disabled.

[2021-07-28 10:38] Mugeda opened #94 "Maximum call stack size exceeded"
![image](https://user-images.githubusercontent.com/29826874/127308875-120ed2e5-daca-436e-991d-57c720ee8427.png)

[2021-07-28 13:20] AlexanderStanevko opened #95 "Time selection option"
I faced with problem that i need to have time selection option. Does it have in your picker? If yes, why i could'n find it on the demo page?

[2021-07-28 17:43] alejandrosobko commented on #80
@knash94 I have the same issue. A workaround is to set the property as `new Date()`.
[code]

So it will have a value to show:

<img width="370" alt="image" src="https://user-images.githubusercontent.com/11604761/127370791-d787be78-28d6-4694-a698-226730203ae1.png">

[2021-07-30 17:55] neloydas commented on #21
Hi, @mathieustan, I love this component too. But time selection option is the only thing that is stopping me from using it. Also after selection the date/time should be editable via `editable` prop. Currently I use this one: https://github.com/mengxiong10/vue2-datepicker. Although there is no option for attach and scroll proof in that component and it does not look as cool as yours.

[2021-08-02 14:38] alejandrosobko commented on #85
any fix?

[2021-08-20 15:13] alejandrosobko commented on #85
I don't need to disable any date so I made this ugly fix:

[code]

[2021-08-20 16:31] dosstx opened #96 "Possible to only show month and year in input field after selection?"
Is it possible to only let the user pick a month and year combination?

Update: OK, I was able to do this by using `:flow="['year', 'month']"

However, the day is still shown in the input field (eg, "Aug 19, 2021").

Is it possible to only show "Aug, 2021" in the input field ?

[2021-08-20 18:05] dosstx commented on #96
Wrong plugin!

[2021-08-20 18:05] #96 closed

[2021-08-20 18:08] dosstx opened #97 "Can't install package -- unable to resolve dependency tree (core-js)"
When trying to run `npm install @mathieustan/vue-datepicker --save` I get following error in VUE-CLI console:

[code]

[2021-08-30 02:55] JasonAtallah commented on #57
Any updates on this?

[2021-09-12 16:21] devzakir commented on #57
Any update on this?

[2021-10-01 22:08] djokk commented on #39
Hello. Have you added this feature ?

[2021-10-06 05:24] SahilVasava commented on #97
Yeah, I am having this issue as well. Anybody found a fix? I want to use this picker as it's the only one I found which has quarter selection.

[2021-11-10 22:41] NathanManning opened #99 "1 day range shouldn't have background"
If you use the range property, it looks broken when selecting a one-day range. The background highlight is displayed by there is no second circle to terminate it. The highlight should only display if start != end.

[2021-11-24 12:36] bockhauzen commented on #94
same issue on 0.2.4

[2021-12-01 03:39] j0eii commented on #94
"@mathieustan/vue-datepicker": "git://github.com/j0eii/vue-datepicker#46f7ab877b8956ce7f82172fe73f099176db4c4f",

just use this for hot fix (en only)

[2021-12-02 11:21] sindrepm opened #101 "Getting "window is not defined" on Nuxt"
Thanks for a great component! I'm using it in my Nuxt project, but so far I've not been able to get it to work with SSR.

I'm getting a "ReferenceError: window is not defined" in "vue-datepicker.umd.js" function "VueComponent.created".

So I have to wrap it in a <ClientOnly> tag as a workaround, but this doesn't give the best UX because the input field is initially hidden when the page loads.

Any

[2021-12-06 20:51] Hatar opened #102 "selected on Tablet Mode it did not show well"
Hi @mathieustan

I have a problem with your lib, indeed when i used your Vue-datepicker with Tablet mode (with chrome ) it did not show well,in  In Mobile show perfect but but apparently not in tablet,Maybe you can help me with this issue, or it's a missing thing with your development ?

thanks so much.
![image](https://user-images.githubusercontent.com/23564117/144920587-7d143527-759e-4e03-be3b-4

[2022-01-14 12:21] pickmecoach commented on #84
Well, I've solved this by removing globally passing lang options, i.e.
[code]
and pass `locale` prop directly to component in a format that exactly matches the default locales, there should be all the same keys, no more and no less. For exaple, this is Khmer locale.
[code]
The main idea is to get `true` when checking valid locale [here](https://github.com/mathieustan/vue-datepicker/blob/62211caacb

[2022-01-21 12:08] manugch opened #103 "Is this repo still alive?"
Is there anyone still maintaning this? I haven't seen any updates on the issues since months.

[2022-02-02 08:45] gigerIT commented on #103
Does someone know a good alternative to this ?

[2022-02-10 10:29] treforcoster opened #104 "Adding class to the datepicker"
I'm using the content-class prop to add a custom class to the datepicker calendar but its not showing in my app.

[code]

And the output is shown below:

https://capture.dropbox.com/KAYcJNMorQhTF7H4?src=ss

Am I missing something here?

[2022-04-16 16:18] amchconsult opened #105 "CDN Global"
How do I use it on CDN global?
please, Can you give me an example?

I got this error using the umd

vue-datepicker.umd.js:5 Uncaught TypeError: Cannot read properties of undefined (reading 'extend')
    at vue-datepicker.umd.js:5:39664
    at vue-datepicker.umd.js:5:233
    at vue-datepicker.umd.js:5:296
(anonymous) @ vue-datepicker.umd.js:5
(anonymous) @ vue-datepicker.umd.js:5
(anonymous) @ vue-

[2022-05-06 14:32] Mateis commented on #81
these issues are related:
- https://github.com/mathieustan/vue-datepicker/issues/84
- https://github.com/mathieustan/vue-datepicker/issues/94

And there is a hotfix here (for Chrome): https://github.com/mathieustan/vue-datepicker/pull/100

[2022-05-15 11:01] techmasknet commented on #94
it works in chrome

It works for me. Thx! @j0eii

[2022-06-20 16:34] andreasvirkus commented on #103
https://vcalendar.io/vue-3.html

[2022-07-18 16:07] mathieustan commented on #103
I don't have enough time to maintain this project.
I'm sorry.

[2022-07-18 16:07] #103 closed

[2022-07-18 16:08] #78 closed

[2022-07-21 07:34] YousifALF opened #106 ""export 'default' (imported as 'r') was not found in 'vue'"
Iam getting this error when trying to  import "Vue DatePicker" into my VUE 3 Project

Code :
import VueDatePicker from '@mathieustan/vue-datepicker';
import '@mathieustan/vue-datepicker/dist/vue-datepicker.min.css';

Full Error :
 WARNING  Compiled with 1 warning

 warning  in ./node_modules/@mathieustan/vue-datepicker/dist/vue-datepicker.esm.js

"export 'default' (imported as 'r') was not found i

[2022-07-27 06:31] nastaran8695 opened #107 "Invalid array length at VueComponent.spaceBeforeFirstDay"
I get this error when I want use default date picker

vue.esm.js?efeb:5043 [Vue warn]: Error in render: "RangeError: Invalid array length"

found in

---> <VDPickerTableDate>
       <VDPickerAgenda>
         <VDMenu>
           <VDPicker>
             <CustomDatePicker> at src/components/CustomDatePicker/index.vue
               <ICol>... (1 recursive calls)
                 <Row>